{% load static %}

<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OBOY-Qeydiyyat</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static ''%}assets/images/favicon-16x16.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/slick.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/sal.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/vendor/base.css">
    <link rel="stylesheet" href="{% static ''%}assets/css/style.min.css">

</head>


<body>
    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <a href="{% url 'list' %}" class="site-logo"><img class = "cimgs" src="{% static "" %}assets/images/logo/oboyaz-logo-depositphotos-bgremo.png" alt="logo"></a>
                </div>
                <div class="col-md-6">
                    <div class="singin-header-btn">
                        <p>Hesabın var?</p>
                        <a href="{% url "login" %}" class="axil-btn btn-warning sign-up-btn">Giriş</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
       
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Qeydiyyat!</h3>
                        <p class="b2 mb--55 text-black">Zəhmət olmasa, boş xanaları doldurun.</p>
                        <form class="singin-form" method="post">
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
{#                                <input type="text" class="form-control" name="username" value="anniemario">#}
                                {{ field }}
                            </div>
                            {% endfor %}
                        
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-warning submit-btn">Davam et!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static ''%}assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="{% static ''%}assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="{% static ''%}assets/js/vendor/popper.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/bootstrap.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/slick.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="{% static ''%}assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="{% static ''%}assets/js/vendor/jquery-ui.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/sal.js"></script>
    <script src="{% static ''%}assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="{% static ''%}assets/js/vendor/counterup.js"></script>
    <script src="{% static ''%}assets/js/vendor/waypoints.min.js"></script>

    <!-- Main JS -->
    <script src="{% static ''%}assets/js/main.js"></script>

</body>


</html>